# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Poetry virtual environment
.venv/

# Distribution / packaging
dist/
build/
*.egg-info/

# Testing
.pytest_cache/

# Type checking
.mypy_cache/

# Environment variables
.env
.env.local